# Flutter/Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# APK / Build outputs
*.apk
*.aab
*.ipa
*.dSYM.zip
*.dSYM

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Environment
.env
.env.*

# Misc/junk files
*.log
adb_screenshot.png
analyze_out
analyze_out2
analyze_output